---
import { Image } from 'astro:assets';
import { mentors } from '../../data/mentors-2024';
---

<script>
  import { mentors } from 'data/mentors-2024';

  let popupOpen = false;

  function showPopup(mentor) {
    if (popupOpen) return;

    const backdrop = document.createElement('div')
    backdrop.classList.add('fixed', 'inset-0', 'bg-black/60', 'z-20')
    backdrop.setAttribute('id', 'mentorBackdrop')

    const popup = document.createElement('div');
    popup.classList.add(
      'fixed',
      'top-1/2',
      'left-12',
      'sm:left-1/2',
      '-translate-x-6',
      'sm:-translate-x-1/2',
      '-translate-y-1/2',
      'bg-white',
      'p-6',
      'border',
      'border-gray-300',
      'rounded-lg',
      'shadow-lg',
      'min-w-0',
      'max-w-full',
      'min-h-0',
      'max-h-lg',
      'overflow-auto',
      'z-30',
    );
    popup.setAttribute('id', 'mentorPopupContainer');

    const socialLinks = mentor.social
      .map(
        (socialItem) => `
      <a href="${socialItem.src}" target="_blank" rel="noopener noreferrer">
        <Image
          class="h-5 w-5 lg:h-6 lg:w-6"
          src="${socialItem.social_img.src}"
          alt="Social Media logo"
        />
      </a>
    `,
      )
      .join('');

    const popupContent = `
      <div class="relative" id="mentorPopup">
        <div class="flex flex-col md:flex-row justify-center items-center gap-4">
          <Image src="${mentor.img.src}" alt="mentor Photo" loading="lazy" class="object-cover w-44 h-44 rounded-lg" />
          <div>
            <h2 class="text-lg font-semibold">${mentor.name}</h2>
            <p class="text-sm text-gray-700 mb-2">${mentor.bio || 'No bio available.'}</p>
            <div class="flex items-center space-x-2">
              ${socialLinks}
            </div>
          </div>
        </div>
      </div>
    `;

    popup.innerHTML = popupContent;
    document.body.appendChild(backdrop);
    document.body.appendChild(popup);
    document.addEventListener('click', handleOutsideClick);
    popupOpen = true;
    document.body.classList.add('overflow-hidden');
  }

  function closePopup() {
    const popup = document.getElementById('mentorPopupContainer');
    const backdrop = document.getElementById('mentorBackdrop');
    backdrop.remove();
    popup.remove();
    document.removeEventListener('click', handleOutsideClick);
    popupOpen = false;
    document.body.classList.remove('overflow-hidden');
  }

  function handleOutsideClick(event) {
    const popup = document.getElementById('mentorPopup');
    if (!popup.contains(event.target)) {
      closePopup();
    }
  }

  const buttons = document.querySelectorAll('button.togglePopup');
  buttons.forEach((button) => {
    button.addEventListener('click', (event) => {
      event.stopPropagation();
      const mentorIndex = parseInt(
        (button as HTMLElement).dataset.mentorIndex,
        10,
      );
      const mentor = mentors[mentorIndex];
      showPopup(mentor);
    });
  });
</script>

<section id="mentores" class="mentors-section p-6 lg:py-20 md:px-10">
  <div class="max-w-screen-xl mx-auto">
    <h2 class="text-3xl font-bold tracking-tight text-white text-center">Mentores</h2>
    <div
      class="mt-6 grid grid-cols-2 items-start gap-x-8 gap-y-4 md:gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      {
        mentors.map((mentor, index) => (
          <div class="flex flex-col items-center justify-center lg:flex-col lg:justify-center">
            <button
              class="aspect-h-1 aspect-w-1 w-50 overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7 togglePopup"
              data-mentor-index={index}
            >
              <Image
                src={mentor.img}
                alt="mentor Photo"
                loading="lazy"
                class="h-40 w-40 object-cover object-center group-hover:opacity-75"
                width={160}
                height={160}
              />
            </button>
            <label class="text-lg md:text-xl w-40 mt-4 text-center text-white mb-5">
              {mentor.name}
            </label>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .mentors-section {
    background: #0e0d0d;
  }
</style>
