---
import { Image } from "astro:assets"

const { time, title, img, speaker, position } = Astro.props
---

<div class="flex flex-col space-y-1 md:flex-row md:space-x-4">
  <div class="space-y-0">
    <h3 class="text-lg md:text-2xl font-bold leading-tight mb-2">{title}</h3>
    <div class="flex space-x-4 items-start">
      <Image src={img} alt={speaker} class="border aspect-square object-cover" width="60" height="60" />
      <div class="leading-tight">
        <p class="font-medium md:text-lg lg:text-xl">{speaker}</p>
        <p class="md:text-lg">{position}</p>
      </div>
    </div>
  </div>
</div>
